# Python for (open) Neuroscience

_Lecture 1.2_ - Intro to `pandas`

Luigi Petrucco


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/vigji/python-cimec-2025/blob/main/lectures/Lecture1.2_Intro-pandas.ipynb)

## Outline

 - some last bits of `numpy`
 - introducing `pandas`

## Search indexes

Some functions find indexes of the elements of an array that match some criterion.

### `np.argmin()` / `np.argmax()`

Find the position of the maximum or the minimum of an array

In [ ]:
arr = np.array([5,  0, 2, 9, 6,])

np.argmin(arr)  # give index of smallest element

In [ ]:
np.argmax(arr)  # give index of biggest element

### `np.nonzero()` / `np.argwhere()`

There are functions that allow us to get the index of all True elements in an array. In this way, we can set a condition (_e.g._, values above a threshold), and find the index of all elements satisfying it!

#### `np.argwhere()`

`np.argwhere()` find `True` elements and gives us a `(n_pts, n_matrix_dims)` shaped array of indexes:

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], 
                [0, 5, 0, 3, 1],
                [0, 6, 7, 4, 1]])  # define an array
boolean_vals = arr > 2  # boolean condition
print("Original array:")

print(arr)
print("\nBoolean array:")
print(boolean_vals)

In [ ]:
indexes = np.argwhere(boolean_vals)
print("\nTrue elements indexes:")
print(indexes)

The indexes matrix has one row for every True value, and each column represents the position of that value on the boolean matrix.

####Â `np.nonzero()`

`np.nonzero()` is very similar to `np.argwhere()`, but instead of a single matrix of indexes (with each column representing the indexes over one dimension for all points), it returns us a tuple of arrays. 

That is to say, each one of those arrays corresponds to a column of the indexes array returned by `np.argwhere()`.

In [ ]:
# print("\nBoolean array:")
#print(boolean_vals)

indexes_tuple = np.nonzero(boolean_vals)
# print("\nTrue elements indexes:")
print(indexes_tuple)

indexes_tuples is a tuple of arrays; each one of thise array corresponds to a column in the indexes matrix above!

In [ ]:
indexes_tuple[0] == indexes[:, 0]

Why is it useful to return a tuple of arrays?

### Array indexes are tuples!

Whenever you are writing something like:

In [ ]:
arr[0, 1]

You are actually passing a tuple into the square brackets! If you remember, in python, comma separated
values with no brakets are automatically put together in a tuple:

In [ ]:
a = 1, 2
type(a)

So, writing `arr[0, 1]` is literally the same as writing `arr[(0, 1)]`:

In [ ]:
arr[(0, 1)]

If you remember, you can pass arrays instead of single numbers for indexing:

In [ ]:
# This code will retrieve three elements from arr:
#   - the element in (0, 2)
#   - the element in (1, 3)
#   - the element in (1, 1)

print(arr)
print("\nSelected items:")
arr[np.array([0, 1, 1]), np.array([2, 3, 1])]

Therefore, we can directly use the indexes arrays tuple we get from `np.nonzero()` to retrieve all elements of the original matrix that matched the boolean condition!

In [ ]:
arr = np.array([[1, 2, 3, 4, 5], 
                [0, 5, 0, 3, 1],
                [0, 6, 7, 4, 1]])
boolean_vals = arr > 2
print("Original array:")
print(arr)
print("\nBoolean array:")
print(boolean_vals)

indexes_tuple = np.nonzero(boolean_vals)
indexes_tuple

In [ ]:
filtered_values = arr[indexes_tuple]  # here we directly use the tuple to index the array!
print("\nElements bigger than 2:")
print(filtered_values)

(Practicals 1.1.3)

### `np.argsort`

`argsort` is a powerful function to retrieve the index array that when applied to an array sorts it in ascending or descending order:

In [141]:
scores = np.array([5,  0, 2, 9, 6,])
subjects = np.array(["Tom", "Judy", "Lara", "John", "Leah"])

# Get sorting indexes:
sorting_idxs = np.argsort(scores)
sorting_idxs

array([1, 2, 0, 4, 3])

In [142]:
# applying those indexes we can sort the array:
scores[sorting_idxs]

array([0, 2, 5, 6, 9])

In [143]:
# But also another array of matching length, eg to sort subjects based on score:
subjects[sorting_idxs]

array(['Judy', 'Lara', 'Tom', 'Leah', 'John'], dtype='<U4')

## `numpy` booleans

A final note on `numpy` boolean indexing & arrays

### Boolean operations with arrays

In [144]:
an_array = np.array([1, 2, 3, 4, 5])

In [58]:
condition_0 = an_array > 2
condition_1 = an_array < 5

print(condition_0)
print(condition_1)

[False False  True  True  True]
[ True  True  True  True False]

### `and` with `&`

If we try to use and with the array, it won't work element-wise!

In [59]:
condition_0 and condition_1

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

To compute the and condition element-wise we use `&`:

In [145]:
condition_0 & condition_1

array([False, False,  True,  True, False])

### `or` with `|`

To compute the or condition element-wise we use `|`:

In [61]:
condition_0 | condition_1

array([ True,  True,  True,  True,  True])

### `not` with `~`

To compute the not condition (over a single array) element-wise we use `~`:

In [62]:
~condition_0

array([ True,  True, False, False, False])

Mind the execution order!

In [64]:
an_array > 0 & an_array < 5  # Without brackets & is applied to 0 and an_array!!

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

We get the error because we are not ensuring that the array comparisons are executed first!
This is how we can fix this:

In [65]:
# Correct:
(an_array > 0) & (an_array < 5)

array([ True,  True,  True,  True, False])

(Practicals 1.2.0)

## `pandas`! ð¼

Finally, data sheets in Python!

You are mostly familiar with data sheets: `.xlsx`, `.csv`...

Some of you might have used `R` to do statistics and data aggregation on those tabular data.

The `pandas` library offers the same in Python!

In [146]:
import pandas as pd  # pandas import

In [147]:
# Real world example of stimulus log reading from a csv file:
df = pd.read_csv("https://raw.githubusercontent.com/vigji/python-cimec-2024/main/lectures/files/stimulus_log.csv")

df.head()  # show the first lines of the dataframe

   Radius     Theta  Direction                          Timestamp
0       5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
1       4  2.094395          1  2023-12-17T12:24:09.2596608+01:00
2       5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
3       5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
4       5  3.141500          1  2023-12-17T12:24:36.2617216+01:00

In [148]:
# E.g., we can add columns to the datasheet: 
df["Theta degrees"] = 180 * df["Theta"] / np.pi  # convert angles from radians to degrees

df.head()

,Radius,Theta,Direction,Timestamp,Theta degrees
0,5,3.141500,1,2023-12-17T12:23:48.2339968+01:00,179.994691
1,4,2.094395,1,2023-12-17T12:24:09.2596608+01:00,120.000003
2,5,3.141500,2,2023-12-17T12:24:16.2907776+01:00,179.994691
3,5,3.769911,2,2023-12-17T12:24:29.2541696+01:00,216.000006
4,5,3.141500,1,2023-12-17T12:24:36.2617216+01:00,179.994691

### Very convenient data structures!

- named columns
- mixed data types (integers, strings, booleans, timestamps...)

Also, `pandas` offers very powerful ways of aggregating data - we will have a look at them!

## The basic data structure: `pd.DataFrame`

In [149]:
import pandas as pd
import numpy as np

In [150]:
# Read an real example of experimental data with pandas:
df = pd.read_csv("https://raw.githubusercontent.com/vigji/python-cimec-2024/main/lectures/files/stimulus_log.csv")

df

     Radius     Theta  Direction                          Timestamp
0         5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
1         4  2.094395          1  2023-12-17T12:24:09.2596608+01:00
2         5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
3         5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
4         5  3.141500          1  2023-12-17T12:24:36.2617216+01:00
..      ...       ...        ...                                ...
452       5  3.141500          2  2023-12-17T13:39:17.7271936+01:00
453       5  4.188790          2  2023-12-17T13:39:30.7117312+01:00
454       5  3.141500          1  2023-12-17T13:39:37.7164928+01:00
455       3  3.769911          2  2023-12-17T13:39:50.7143680+01:00
456       5  3.141500          1  2023-12-17T13:39:57.7196288+01:00

[457 rows x 4 columns]

In [151]:
type(df)

pandas.core.frame.DataFrame

## `pd.DataFrame`

2D data structure with labelled **columns** and indexed **rows**

In [112]:
simple_df = pd.DataFrame({'positions': [10, 20, 30, 40, 50],
                   'contrast': [1., 0.5, 0, 1., .5],
                   'condition': ["A", "B", "C", "D", "E"]})
simple_df

   positions  contrast condition
0         10       1.0         A
1         20       0.5         B
2         30       0.0         C
3         40       1.0         D
4         50       0.5         E

### `pd.DataFrame` attributes

In [152]:
simple_df.columns  # returns the columns of the dataframe

Index(['positions', 'contrast', 'condition'], dtype='object')

In [153]:
simple_df.index  # returns the index of the dataframe

RangeIndex(start=0, stop=5, step=1)

In [116]:
simple_df.shape  # returns the shape of the dataframe, as arrays

(5, 3)

In [118]:
simple_df.values # returns the raw content in an array (to be used only on homogenous data)

array([[10, 1.0, 'A'],
       [20, 0.5, 'B'],
       [30, 0.0, 'C'],
       [40, 1.0, 'D'],
       [50, 0.5, 'E']], dtype=object)

## `pd.DataFrame` column selection

Index dataframe over columns:

In [119]:
df.head()  # show the first lines of the dataframe

   Radius     Theta  Direction                          Timestamp
0       5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
1       4  2.094395          1  2023-12-17T12:24:09.2596608+01:00
2       5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
3       5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
4       5  3.141500          1  2023-12-17T12:24:36.2617216+01:00

In [120]:
df["Radius"]  # We can index using the name of the column

0      5
1      4
2      5
3      5
4      5
      ..
452    5
453    5
454    5
455    3
456    5
Name: Radius, Length: 457, dtype: int64

In [121]:
# or multiple columns with a list of multiple column names:

df[["Radius", "Theta"]]

     Radius     Theta
0         5  3.141500
1         4  2.094395
2         5  3.141500
3         5  3.769911
4         5  3.141500
..      ...       ...
452       5  3.141500
453       5  4.188790
454       5  3.141500
455       3  3.769911
456       5  3.141500

[457 rows x 2 columns]

What is the type of the indexing operation if we select one column?

In [154]:
print(type(df["Radius"]))
df["Radius"]

<class 'pandas.core.series.Series'>

0      5
1      4
2      5
3      5
4      5
      ..
452    5
453    5
454    5
455    3
456    5
Name: Radius, Length: 457, dtype: int64

Once we have selected a column, what we get is a `pd.Series`

### `pd.Series`

`pd.Series` are 1-dimensional data structures - basically the columns of  `pd.DataFrame`s:

In [123]:
a_series_from_df = df["Radius"]
a_series_from_df

0      5
1      4
2      5
3      5
4      5
      ..
452    5
453    5
454    5
455    3
456    5
Name: Radius, Length: 457, dtype: int64

`pd.Series` have indexed rows (the same of the original dataframe), but no columns

### Operations on Series

We can operate with the series as we would for a `numpy` array:

In [155]:
# The result of this operation is an identically indexed Series with new values:
a_series_from_df * 10

0      50
1      40
2      50
3      50
4      50
       ..
452    50
453    50
454    50
455    30
456    50
Name: Radius, Length: 457, dtype: int64

In [156]:
# The result of this operation is an identically indexed Series with bolean values:
a_series_from_df == 5

0       True
1      False
2       True
3       True
4       True
       ...
452     True
453     True
454     True
455    False
456     True
Name: Radius, Length: 457, dtype: bool

### Back to indexing dataframes...

DataFrames are smart structures that can understand if we are indexing rows or columns, checking out the values that we are using for indexing:

In [23]:
df[0:2]  # in this case, the indexing refers to rows

   Radius     Theta  Direction                          Timestamp
0       5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
1       4  2.094395          1  2023-12-17T12:24:09.2596608+01:00

Indexing on rows can be slicing (as above) or boolean indexing.

Many times row selections are done based on some boolean conditions.

E.g. we just want to consider trials where the stimulus `Radius` was `5`:

In [78]:
boolean_selection = df["Radius"] == 5

# As for numpy array, the operation on the Series above returns a series:
boolean_selection

0       True
1      False
2       True
3       True
4       True
       ...
452     True
453     True
454     True
455    False
456     True
Name: Radius, Length: 457, dtype: bool

We can use the resulting series to index the original DataFrame:

In [79]:
df[boolean_selection]

     Radius     Theta  Direction                          Timestamp
0         5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
2         5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
3         5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
4         5  3.141500          1  2023-12-17T12:24:36.2617216+01:00
6         5  3.141500          1  2023-12-17T12:24:56.2694272+01:00
..      ...       ...        ...                                ...
450       5  3.141500          2  2023-12-17T13:38:57.7099648+01:00
452       5  3.141500          2  2023-12-17T13:39:17.7271936+01:00
453       5  4.188790          2  2023-12-17T13:39:30.7117312+01:00
454       5  3.141500          1  2023-12-17T13:39:37.7164928+01:00
456       5  3.141500          1  2023-12-17T13:39:57.7196288+01:00

[301 rows x 4 columns]

Notice how after filtering the indexes of each row are maintained as in the original dataframe!

### Non-numerical raw indexing

One potentially powerful feature of `pd.DataFrame` is the option of using non-numerical indexes

In [77]:
non_num_idx_df = df.copy()
# Replace numerical index with string:
non_num_idx_df.index = [f"trial_{i}" for i in df.index]

non_num_idx_df.head()

         Radius     Theta  Direction                          Timestamp
trial_0       5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
trial_1       4  2.094395          1  2023-12-17T12:24:09.2596608+01:00
trial_2       5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
trial_3       5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
trial_4       5  3.141500          1  2023-12-17T12:24:36.2617216+01:00

We will see how this can be useful to build tables queriable by trial/subject/experiment ids

### `.loc`

If we want to select values over both rows and columns we use `.loc` (highly recommended)

**This is not a method!** We need to use the square brackets:

In [37]:
df.loc[::2, ["Theta", "Timestamp"]]

      Theta                          Timestamp
0    3.1415  2023-12-17T12:23:48.2339968+01:00
2    3.1415  2023-12-17T12:24:16.2907776+01:00
4    3.1415  2023-12-17T12:24:36.2617216+01:00
6    3.1415  2023-12-17T12:24:56.2694272+01:00
8    3.1415  2023-12-17T12:25:16.2718464+01:00
..      ...                                ...
448  3.1415  2023-12-17T13:38:37.7059328+01:00
450  3.1415  2023-12-17T13:38:57.7099648+01:00
452  3.1415  2023-12-17T13:39:17.7271936+01:00
454  3.1415  2023-12-17T13:39:37.7164928+01:00
456  3.1415  2023-12-17T13:39:57.7196288+01:00

[229 rows x 2 columns]

Often, we use boolean indexing to select rows:

In [158]:
df.loc[boolean_selection, ["Theta", "Timestamp", "Radius"]]

        Theta                          Timestamp  Radius
0    3.141500  2023-12-17T12:23:48.2339968+01:00       5
2    3.141500  2023-12-17T12:24:16.2907776+01:00       5
3    3.769911  2023-12-17T12:24:29.2541696+01:00       5
4    3.141500  2023-12-17T12:24:36.2617216+01:00       5
6    3.141500  2023-12-17T12:24:56.2694272+01:00       5
..        ...                                ...     ...
450  3.141500  2023-12-17T13:38:57.7099648+01:00       5
452  3.141500  2023-12-17T13:39:17.7271936+01:00       5
453  4.188790  2023-12-17T13:39:30.7117312+01:00       5
454  3.141500  2023-12-17T13:39:37.7164928+01:00       5
456  3.141500  2023-12-17T13:39:57.7196288+01:00       5

[301 rows x 3 columns]

It is very common to use multiple critieria to select rows:

In [43]:
selection_series = (df["Radius"] == 5) & (df["Theta"] > 4)

In [159]:
df[selection_series]  # note the boolean and operation Ã  lÃ  numpy

     Radius    Theta  Direction                          Timestamp
9         4  4.18879          2  2023-12-17T12:25:29.2708864+01:00
27        4  4.18879          2  2023-12-17T12:28:29.3248640+01:00
29        5  4.18879          2  2023-12-17T12:28:49.3271552+01:00
33        5  4.18879          2  2023-12-17T12:29:29.3487360+01:00
43        4  4.18879          2  2023-12-17T12:31:09.3761152+01:00
59        4  4.18879          2  2023-12-17T12:33:49.4263424+01:00
69        5  4.18879          2  2023-12-17T12:35:29.4522112+01:00
81        5  4.18879          2  2023-12-17T12:37:29.4859904+01:00
101       4  4.18879          2  2023-12-17T12:40:49.5271808+01:00
133       5  4.18879          2  2023-12-17T12:46:09.6437632+01:00
139       4  4.18879          2  2023-12-17T12:47:09.6812160+01:00
143       4  4.18879          2  2023-12-17T12:47:49.6884864+01:00
153       5  4.18879          2  2023-12-17T12:49:29.7175808+01:00
167       3  4.18879          2  2023-12-17T12:51:49.7510528+01:00
171       4  4.18879          2  2023-12-17T12:52:29.7658112+01:00
173       3  4.18879          2  2023-12-17T12:52:49.7695232+01:00
175       5  4.18879          2  2023-12-17T12:53:09.7870464+01:00
189       3  4.18879          2  2023-12-17T12:55:29.8221696+01:00
211       3  4.18879          2  2023-12-17T12:59:09.8832256+01:00
231       4  4.18879          2  2023-12-17T13:02:29.9247616+01:00
235       5  4.18879          2  2023-12-17T13:03:09.9406592+01:00
243       4  4.18879          2  2023-12-17T13:04:29.9543936+01:00
247       5  4.18879          2  2023-12-17T13:05:09.9737984+01:00
265       5  4.18879          2  2023-12-17T13:08:10.0270976+01:00
287       3  4.18879          2  2023-12-17T13:11:50.1151616+01:00
303       4  4.18879          2  2023-12-17T13:14:30.1538560+01:00
311       3  4.18879          2  2023-12-17T13:15:50.1921024+01:00
315       3  4.18879          2  2023-12-17T13:16:30.1994112+01:00
327       3  4.18879          2  2023-12-17T13:18:30.2420224+01:00
331       4  4.18879          2  2023-12-17T13:19:10.2641792+01:00
343       3  4.18879          2  2023-12-17T13:21:10.2951424+01:00
357       3  4.18879          2  2023-12-17T13:23:30.3448960+01:00
397       5  4.18879          2  2023-12-17T13:30:10.5004544+01:00
405       3  4.18879          2  2023-12-17T13:31:30.5123840+01:00
425       3  4.18879          2  2023-12-17T13:34:50.5848064+01:00
453       5  4.18879          2  2023-12-17T13:39:30.7117312+01:00

### `.iloc`

If we feel like using numpy-like indexing, we can use `.iloc` (usually, discouraged, as it is less readable):

In [161]:
df.iloc[:5, :2]

   Radius     Theta
0       5  3.141500
1       4  2.094395
2       5  3.141500
3       5  3.769911
4       5  3.141500

(Practicals 1.2.1)

### Create `pd.DataFrames`

Tipically, we create a dataframe from a dictionary of arrays (lists):

In [80]:
dict_array = dict(int_col=[1, 2, 3], 
                  float_col=[4., 5., .6],
                  a_constant_val=1,
                  str_col=["a", "b", "c"])

pd.DataFrame(dict_array)

   int_col  float_col  a_constant_val str_col
0        1        4.0               1       a
1        2        5.0               1       b
2        3        0.6               1       c

 or from a list of dictionaries:

In [81]:
pd.DataFrame([dict(int_col=1, float_col=4., str_col="a"),
              dict(int_col=2, float_col=5., str_col="b"),
              dict(int_col=3, float_col=.6, str_col="c")])

   int_col  float_col str_col
0        1        4.0       a
1        2        5.0       b
2        3        0.6       c

### From `numpy` arrays

We can also create a dataframe from data stored as a numpy array:

In [82]:
twod_array = np.random.rand(3, 3)
twod_array

array([[0.11901524, 0.93400603, 0.23049138],
       [0.91066345, 0.63625341, 0.2622589 ],
       [0.97587594, 0.19295139, 0.81911013]])

In [124]:
# We just have to specify the columns names and (optionally) the indexes, if different from default:

pd.DataFrame(twod_array, 
             columns=["a", "b", "c"], # column names
             index=["row1", "row2", "row3"], # non numerical indexing
            )

             a         b         c
row1  0.119015  0.934006  0.230491
row2  0.910663  0.636253  0.262259
row3  0.975876  0.192951  0.819110

### Reading from files

Many (most?) times we'll be reading directly from a file (a `.csv`, a `.xlsx`...)

In [125]:
# For .csv files, we use the read_csv method.
# In this notebook we read from the web; if it was a file from your pc, you'd pass the filename
# instead of the URL. read_csv takes a bunch of inputs about how your file is formatted

URL = "https://raw.githubusercontent.com/vigji/python-cimec-2024/main/lectures/files/stimulus_log.csv"
df = pd.read_csv(URL)

df.head()  # this will show only the first rows!

   Radius     Theta  Direction                          Timestamp
0       5  3.141500          1  2023-12-17T12:23:48.2339968+01:00
1       4  2.094395          1  2023-12-17T12:24:09.2596608+01:00
2       5  3.141500          2  2023-12-17T12:24:16.2907776+01:00
3       5  3.769911          2  2023-12-17T12:24:29.2541696+01:00
4       5  3.141500          1  2023-12-17T12:24:36.2617216+01:00

## Increment existing dataframes

### Add new columns

We can add new columns to a dataframe:

In [126]:
df = pd.DataFrame(np.random.rand(3, 3), columns=["a", "b", "c"], index=["row1", "row2", "row3"])
df

             a         b         c
row1  0.794154  0.340368  0.489196
row2  0.699751  0.768766  0.752301
row3  0.343104  0.366393  0.770178

To add data, we can use any multi-element varable: `list`s, `array`s...

In [127]:
# The length of the assignment has to match the length of the dataframe:
df["a_new_column"] = ["a", "b", "c"]
df

             a         b         c a_new_column
row1  0.794154  0.340368  0.489196            a
row2  0.699751  0.768766  0.752301            b
row3  0.343104  0.366393  0.770178            c

In [128]:
# We can also assign a single value to fill the whole column with the same content:
df["new_boring_column"] = 42
df

             a         b         c a_new_column  new_boring_column
row1  0.794154  0.340368  0.489196            a                 42
row2  0.699751  0.768766  0.752301            b                 42
row3  0.343104  0.366393  0.770178            c                 42

### Add new rows

We can add new rows to a dataframe (more rare). In this case we use concatenation:

In [129]:
df1 = pd.DataFrame(dict(col1=[99, 95, 92],
                        col2=[95, 90, 99]))
df1

   col1  col2
0    99    95
1    95    90
2    92    99

In [130]:
# Create another dataframe:
df2 = pd.DataFrame(dict(col1=[100],
                        col2=[101]))
df2

   col1  col2
0   100   101

In [131]:
#
# Concat dataframes
pd.concat([df1, df2])

   col1  col2
0    99    95
1    95    90
2    92    99
0   100   101

Note how indexes match the indexes of the original arrays! If we want, we can reassign it:

In [132]:
pd.concat([df1, df2]).reset_index()

   index  col1  col2
0      0    99    95
1      1    95    90
2      2    92    99
3      0   100   101

(Practicals 1.2.2)

## [Bonus] index raveling / unraveling

For a multi-dimensional array:

In [ ]:
arr = np.array([[5, 1, 2], 
                [3, 0, 4]])
print(arr)
np.argmin(arr)

What is this number 4?

## Flat indexing

When you have a multi-dimensional array, you can always index it in two ways:
 - the standard, multi-dimensional indexing (e.g., `my_array[3,4]`)
 - with **flat indexing**: we index the array after flattening it out in a single dimension

In [ ]:
# Example:
my_arr = np.random.randint(0, 10, (4, 3))
my_arr

There is a flatten representation of this array that we can look at with `.flatten()` method we saw in the last lecture:

In [ ]:
import numpy as np
# When we flatten, we concatenate all values of the matrix in a single dimension.
# We keep the order of the dimensions of the matrix (the first 3 elements are the first row, that
# is, the first dimension):
print(my_arr)
min_idx = np.argmin(my_arr)
print(min_idx)
my_arr.flatten()[min_idx]

The number we got from `np.argmax()` is the number we would need to use over the flattened representation of the array to get the maximum value!

In [ ]:
max_idx = np.argmax(my_arr)  # get max index
print(max_idx)

flat_array = my_arr.flatten()  # create a flattened array
flat_array[max_idx]

One last thing. it is obviously annoying having to create a new flattened array to use the index. Also, we create a duplicated array in memory - not good.

The best way to use this indexing it through the `.flat` representation of the matrix:

In [ ]:
my_arr.flat[max_idx]

### Index raveling / unraveling

To convert the flat index to a tuple of matrix indexes, we can use `np.unravel_index()`:

In [ ]:
arr = np.array([[5, 1, 2], [3, 3, 0]])
idx = np.argmin(arr)

# unravel index takes an index of the flattened array, and the shape of the matrix,
# and give us the tuple of ordinary indexes that correspond to that flat index.
np.unravel_index(idx, arr.shape)

This is an illustration of what happens. Flat indexes (_left_) are converted to tuple indexes (_right_):
(there is a bug in the image, last value should be 11!)

![unravel illustration](https://i.stack.imgur.com/sxwBU.png)

The converse operation, called unravel, can be done with `np.ravel_multi_index()`, and it goes from the right representation to the left one:

In [ ]:
np.ravel_multi_index((1, 1), arr.shape)